.Education {
border:solid 1px black;
display:grid;
grid-template-columns:1fr 1fr 2fr;
background-image: url(rdaflag.png);
background-repeat: no-repeat;
}
.board{
    text-align:center;
}
.icons{
    text-align:right;
    margin-right: 40px;  
}
.REB1{
    border:solid 1px black;
    height: 30px;
    color: black;
    display: grid;
    grid-template-columns:repeat(8,1fr);
    background-color: #c3daf4;
    
}
.REB2{
    border:solid 1px black;
    display: grid;
    grid-template-columns:1fr 1fr;
}
.OurServices{
    border:solid 1px white;
    margin-left: 20px;
}
.OurServices a{
    text-decoration: none;
    border-radius: 5px;
    border-right: 20px;
    border-radius: 25px;
    color:black;
    
}
.elearning{
    width: 300px;
    height: 20px;
    margin-top: 10px;
    background-color: #c3daf4;
    height: 36px;
    border-radius: 5px 20px 20px 5px;
    border: solid 2px #3898d2;

}
.BreakingNews{
    border:solid 1px black;
    background-color: #ffffff;
}
.cbcirembo{
    border: solid 1px black;
}
.publication{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    height: 50px;
    width: 650px;
    background-color: aqua;
}
.Children {
    width: 650px;
    height:590px;
    font-family:sans-serif;
}
.child{
   border-bottom: solid 3px blue;
    display: grid;
    grid-template-columns:repeat(2,1fr);
}
.ladies{
    border-bottom: solid 3px blue;
    display: grid;
    grid-template-columns:repeat(2,1fr);
}
.padiri{
    border-bottom: solid 3px blue;
    display: grid;
    grid-template-columns:repeat(2,1fr);
}
.Urunana{
    display: grid;
    grid-template-columns:repeat(3,1fr);

}
.News{
    display: grid;
    grid-template-columns:repeat(2,1fr);  
    font-family:sans-serif;
    border: solid 1px black;
    height:643px;
    width: 1338px;
}
.Useful a{
    border-bottom: solid 2px #3898d2;
    text-decoration: none;
}
.More{
    width: 610px;
    height: 30px;
    color: black;
    border: solid 1px #c3daf4;
    text-align: center;
    background-color:#c3daf4 ;
    border-radius: 10px;
}
.Basic{
    display: grid;
    grid-template-columns:repeat(4,1fr);  

}
.Aboutreb{
    display: grid;
    grid-template-columns:repeat(2,1fr); 
    background-color: #c3daf4;
}
.Mission{
    margin-left: 50px;
}
.subfooter-content{
    height: 60px;
    text-align: center;
    background-color: #3898d2;
}



