.Education {
border:solid 1px black;
display:grid;
grid-template-columns:1fr 1fr 2fr;
background-image: url(rdaflag.png);
background-repeat: no-repeat;
}
.board{
    text-align:center;
}
.icons{
    text-align:right;  
}
.REB1{
    border:solid 1px black;
    display: grid;
    grid-template-columns:repeat(8,1fr);
    background-color: #c3daf4;
    
}
.REB2{
    border:solid 1px black;
    display: grid;
    grid-template-columns:1fr 1fr;
}
.OurServices{
    border:solid 1px white;
    text-decoration: none;
    border-radius: 5px;
}
.OurServices a{
    border:solid 3px black;
    border-right: 20px;
    border-radius: 25px;
    height: 25px;
}
.BreakingNews{
    border:solid 1px black;
    background-color: #ffffff;
}